/* Made Demeber 4th, 2023 */

#gameboard {
    margin-top:5em;
    height:38em;
    width: 99%;
    max-height: 99%;
    max-width: 99%;
    border: 1px solid black;
}
/* Handles all game information */
#game_information {
    border: 1px solid purple;
    height: 5em;
}

#game_information > * {
    text-align: center;
    position: relative;
    font-size: 30px;
    margin-top: 3px;
}

/* Handles all player elements */
#players_container {
    border: 1px solid purple;
    height: 27.75em;
    display: flex;
    justify-content: center;
}

.player {
    display: inline-block;
    width:47em;
    height: 27.7em;
    border-right: 1px dotted white;
}
.player > * {
    justify-content: center;
    text-align: center;
    position: relative;
    height:1em;
}

.bets, .pCash, .card_val {
    top:1em;
    font-size: 30px;
}

.pCash { top:0.5em; }

.cards {
    display: flex;
    top:3em;
    height:18em;
}

.card_val { top:1.8em; }

.card { 
    top:3em;
    margin-left: -2em;
}

.back { transform: rotateY(180deg); }


.card > *{
    position: relative;
    margin-top: -.6em;
}

.card_num, .card_suit_top { margin-top:-1.25em; }

/* Handles all chip styles */
#action_container {
    border: 1px solid purple;
    height: 5em;
}

#action_container > * {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.action {
    top:0.5em;
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 100%;
    width: 5em;
    height: 5em;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.action > * {
    flex: 1;
    line-height: 2.5;
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
}

/* Notification css */
#notifications {
    position: absolute;
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
}

#notifications > * {
    display: flex;
    justify-content: center;
    border-radius: 10%;
    width:200px;
    height:50px;
    color:white;
    background-color: black;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}
